@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  /* Light Mode */
  --primary-font: 'Poppins', sans-serif;
  --primary-bg-color: #ffffff;
}

body {
  background-color: var(--primary-bg-color);
  font-family: var(--primary-font);
}
